<div class="row">
  <div class="col-xs-12 text-right">
    <div class="col-xs-12 sortByDropdown">
      <label>Sort by:</label>
      <select [ngModel]="selectedSortBy" class="form-control" (ngModelChange)="sortBySelected($event)">
      <option value="top">Top</option>
      <option value="latest">Latest</option>
    </select>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-9">
  <div class="col-xs-12 sourceH3" *ngFor="let article of result">
    <h3 class="col-xs-12 articleSourceH3">{{article.source}}</h3>
    <div class="categoryBlock row">
      <div class="categorBlockInner">
        <div class="col-md-4 col-sm-6 col-xs-12" (click)="redirectToArticleDetail(article.source , singleArticle)" *ngFor="let singleArticle of article.articles;">
          <div class="singleArticle">
            <div class="posR">
              <span class="articleSpanR" *ngIf="singleArticle.author != null">Author : {{singleArticle.author}}</span>
              <span class="articleSpanR" *ngIf="singleArticle.author == null">Author : Unknown</span>
              <img *ngIf="singleArticle.urlToImage" src="{{singleArticle.urlToImage}}" class="img-responsive articleImage" />
              <img *ngIf="!singleArticle.urlToImage" src="../../../assets/img/no_image_available.jpeg" class="img-responsive articleImage" />
            </div>
            <div class="col-xs-12" class="articleTitleDiv">
              <p class="articleTitleP">{{singleArticle.title}}</p>
              <span class="articleSpanL">Updated : {{singleArticle.publishedAt | date : 'medium'}}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
  <div class="col-md-3 col-sm-3 col-xs-3 text-center twitterBlock">
    <div>
      <a class="twitter-timeline" data-lang="en" data-width="500" data-height="800" data-dnt="true" href="https://twitter.com/nchkapp17/lists/newslist"></a>
      <script async src="https://platform.twitter.com/widgets.js" charset="utf-8">
      </script>
    </div>
  </div>
</div>