<!--<div class="row">
   <div class="col-md-3 col-sm-6 col-xs-12" *ngFor="let singleArticle of result">
        <div class="singleArticle">
          <img src="{{singleArticle.urlToImage}}" height="150px" width="150px" />
          <p>{{singleArticle.title}}</p>
          <span class="articleSpanL">Source : {{article.data.source}}</span>
          <span class="articleSpanR">Author : {{singleArticle.author}}</span>
        </div>
      </div>
</div>-->
<style>
  .singleArticle {
    background: lightgray;
    padding: 0px;
    margin: 20px 0;
    height: 350px;
    position: relative;
        border: 1px solid #ddd;
    border-radius: 3px;
  }

  .articleSpanL {
    float: right;
    bottom: 0;
    position: absolute;
    right: 15px;
  }

  .articleSpanR {
    float: right;
    bottom: 0;
    position: absolute;
    right: 0;
    color: #fff;
    background: rgba(0,0,0,0.55);
    padding: 10px 15px;
  }

  .categoryBlock {
    /*display: inline-block;*/
    padding: 20px 20px;
  }
</style>
<div class="row">
  <div class="col-xs-12 text-right">
    <div class="col-xs-12">
    <label>Sort by:</label>
    <select class="form-control" style="display: inline-block;width: auto;">
      <option value="top">Top</option>
      <option value="latest">Latest</option>
    </select>
    </div>
    <!--<button type="button" class="btn btn-primary">Sort by Top</button>
    <button type="button" class="btn btn-primary">Sort by Latest</button>-->
  </div>
</div>
<div class="row">
  <div class="col-xs-12" *ngFor="let article of result">
    <h3 class="col-xs-12">{{article.source}}</h3>
    <div class="categoryBlock row">
      <div style="
    width: 100%;
    height: 100%;
    display: block;
    float: left;">
      <!--<div class="col-xs-12 col-md-3 singleArticle" style="    background: transparent;text-align: center;display: table-cell;padding: 5% 15px;">
        <h3>{{article.source}}</h3>
        <button type="button" class="btn btn-primary" (click)="redirectToCategoryList(article.category)">View All</button>
      </div>-->
      <div class="col-md-3 col-sm-6 col-xs-12" *ngFor="let singleArticle of article.articles;">
        <div class="singleArticle">
          <div style="position:relative">
            <span class="articleSpanR">Author : {{singleArticle.author}}</span>
          <img src="{{singleArticle.urlToImage}}" class="img-responsive" style="    display: block;
    max-width: 100%;
    height: auto;
    width: 100%;
    max-height: 230px;
    object-fit: cover;
    object-position: 100%;"/>
          </div>
          <div class="col-xs-12" style="min-height:100px;">
          <p style="    display: -webkit-box;
    max-width: 100%;
    height: 69px;
    margin: 0 auto;
    font-size: 16px;
    line-height: 1.4;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;padding: 5px 0;">{{singleArticle.title}}</p>
          <span class="articleSpanL">Source : {{article.source}}</span>
          
        </div>
        </div>
      </div>
      </div>
    </div>
  </div>
</div>