<div [ngBusy]="{busy: busy, message: 'Loading...', backdrop: true, delay: 200, minDuration: 6000000}">
</div>

<div class="row homeBG">
  <div class="col-xs-12" *ngFor="let article of results">
    <div class="categoryBlock row">
      <div class="rowCard">
        <div class="categoryBlock row">
          <div class="categorBlockInner col-xs-12">
            <div class="row">
              <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="singleArticle uniqueCard">
                  <h3 class="categoryCapitalize">{{article.category}}</h3>
                  <button type="button" class="btn btn-primary viewAllBtn" (click)="redirectToCategoryList(article.category)">View All</button>
                </div>
              </div>
              <div class="col-md-3 col-sm-6 col-xs-12" (click)="redirectToArticleDetail(article.source , singleArticle)" *ngFor="let singleArticle of article.data.articles; let i=index">
                <div class="singleArticle" *ngIf='i<=2'>
                  <div class="posR">
                    <img *ngIf="singleArticle.urlToImage" src="{{singleArticle.urlToImage}}" class="img-responsive articleImage" />
                    <img *ngIf="!singleArticle.urlToImage" src="../../../assets/img/no_image_available.jpeg" class="img-responsive articleImage"
                    />
                  </div>
                  <div class="col-xs-12" class="articleTitleDiv">
                    <p class="articleTitleP">{{singleArticle.title}}</p>
                    <span class="articleSpanR">Source : {{article.data.source}}</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row footerMain">
  <div class="col-md-6 col-sm-12 text-left">
    <p>Developed By</p>
    <h4 class="textBold">Rajesh Kumaravel</h4>
    <p>Software Engineer</p>
    <img src="../../../assets/img/tarento.png" height="75px" width="300px" />
  </div>
  <div class="col-md-6 col-sm-12 text-right poweredBy">
    <p>News Soure : Powered by <a href="https://newsapi.org/" target="_blank">News API</a></p>
  </div>
</div>