<nav class="navbar navbar-default row">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">
        <p class="logoMain"><i class="fa fa-globe" aria-hidden="true"></i>News App</p>
      </a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li id="technology" class="zBar"><a (click)="redirectToCategoryListHome('technology')">Technology</a></li>
        <li id="general" class="zBar"><a (click)="redirectToCategoryListHome('general')">General</a></li>
        <li id="sports" class="zBar"><a (click)="redirectToCategoryListHome('sports')">Sports</a></li>
        <li id="business" class="zBar"><a (click)="redirectToCategoryListHome('business')">Business</a></li>
        <li id="nature" class="zBar"><a (click)="redirectToCategoryListHome('nature')">Science and Nature</a></li>
      </ul>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>