<div class="row">
  <div class="col-md-9">
    <div class="imgContainer">
      <a href="{{articleDetail.url}}" target="_blank">
      <img src="{{articleDetail.urlToImage}}" alt="{{articleDetail.title}}" class="img-responsive articleDetailImg" />
    </a>
    </div>
    <a class="externalLink" href="{{articleDetail.url}}" target="_blank">
      <h2 class="newsFont">{{articleDetail.title}} <i class="fa fa-external-link faIconValign" aria-hidden="true"></i></h2>
    </a>
    <span class="articleDetailSpan newsFont authorSPanLS">By {{articleDetail.author}}</span>
    <span class="articleDetailSpan newsFont">Updated {{articleDetail.publishedAt | date : 'medium'}}</span>
    <h4 class="newsFont">{{articleDetail.description}}</h4>
  </div>
  <div class="col-md-3 text-center">
    <div style="height : 100%;">
      <a class="twitter-timeline" data-lang="en" data-width="500" data-height="800" data-dnt="true" href="https://twitter.com/nchkapp17/lists/newslist"></a>
    </div>
  </div>
</div>